*{
    padding: 0;
    margin: 0;
    border box-sizing: border-box;
}
.navbar{
    background-color: #000000;
    height:70px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    cursor:pointer;
}
.nav-logo{
    height: 60px;
    width: 110px;
   cursor:pointer;
}
.logo{
    background-image: url("Amazon-Emblem-700x394.webp");
    height: 60px;
    width: 100%;
    background-size: cover;
    cursor:pointer;
}
.border{
    border: 2px solid transparent;
    cursor:pointer;
    
}
.border:hover{
    border:2px solid white;
    cursor:pointer;

}
/**second box**/
.nav-address{
     padding: 16px 10px;
     cursor:pointer;
}
.nav-address:hover{
    border:1px white transparent;
    cursor:pointer;
}
.add-first{
    font-size: 14px;
    color:#ccc;
    margin-left: 20px;
    cursor:pointer;
}
.add-sec{
    font-size: 16px;
    color:#fff;
    cursor:pointer;
}
.add-icon{
    display:flex;
    color: #ccc;
   cursor:pointer;
}
.add-icon i{
    color:white;
}

/*third box*/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    border-radius: 4px;
    height: 44px;
    border:none;
    cursor:pointer;
}
.search-icon{
    background-color: rgba(236, 156, 16, 0.822);
    display:flex;
    justify-content: center;
    align-items: center;
    width:45px;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    cursor:pointer;
}
.search-icon i{
    align-items: center;
}
.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    width: 50px;
    align-items: center;
    cursor:pointer;
    background-color: #a39c9c;
    
    font-size: 18px;

}
.search-input{
    width:500px;
    border:none;
    font-size: 1rem;
    font-weight:bold;
    cursor:pointer;
     align-items: center;
     font-size: 18px;
     padding-left: 4px;
}
/*4th box*/
.nav-flyover{
    
    display: flex;
    
    border:1px solid transparent;
    align-items: center;
    padding: 6px 12px;
    gap:4px;
    width:auto;
    cursor:pointer;

}

.lang-box{
   margin-top:4px; 
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid transparent;
  padding: 20px 10px;
  cursor:pointer;
}
.lang-box:hover{
    border:1px solid white;
    cursor :pointer;
}

.lang-text{
    height: 20px;
    width:18.38px;
    background-color: #131921;
    color: white;
    font-size: 14px;
    font-weight:700;
    display: flex;
    align-items:center;
    line-height: 1.5px;
    cursor:pointer;
}

.flag-icon{
    color:aliceblue;
    cursor:pointer;
    
}
.fa-caret-down{
    color:#ccc;
    font-size: 12px;
    margin-top:4px;
    margin-left:2px;
    cursor:pointer;
}
/*next*/
.nav-text{
    margin-top: 4px;
    display :flex;
    align-items: center;
    cursor:pointer;

}
.text-box{
    border: 1px solid transparent;
    padding:8px 6px;
    cursor:pointer;
}
.text-box:hover{
    border: 1px solid white;
    cursor: pointer;
}
.add-1st{
    font-size: 16px;
    color:#ccc;
    font-weight: 1000;
    justify-content: space-evenly;
    cursor:pointer;
    

}
.add-2nd{
    font-size: 18px;
    color:#fff;
    font-weight: 700;
    cursor:pointer;

}
.nav-text i {
    
    margin-top: 10px;
    cursor:pointer;
}
/*text*/
.nav-return{
    padding:8px 6px;
    cursor:pointer;
}
.return{
    font-size: 16px;
    color:#ccc;
    font-weight: 1000;
    justify-content: space-evenly;
    cursor:pointer;

}
.orders{
    font-size: 18px;
    color:#fff;
    font-weight: 700;
    cursor:pointer;
}
/*cart*/
.nav-cart{
    display:flex;
    padding:12px 8px 8px;
    color:white;
    margin-top: 6px;
    cursor:pointer;

}
.cart{
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    cursor:pointer;
}
.nav-cart i{
    font-size: 29px;
    margin-bottom: 4px;
    cursor:pointer;
}
/*new navbar*/
.navbar2{
    background-color: #24233d;
    color:white;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    cursor:pointer;
    
}


.nav2-icon{
    color:white;
    background-color: #24233d;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    padding:4px 6px ;
    border:2px solid transparent;
    

}
.nav2-icon:hover{
    border:1px solid white;
}


.all{
    font-size:20px;
    font-weight:600;
    margin-top: 4px;
}
.fresh{
    font-size:20px;
    font-weight:200;
    color:white;
    font-style: italic;
    
    
    
}
.MXPlayer{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;
}
.Sell{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;
}
.BestSellers{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;

}
.Mobiles{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;
}
.Deal{
    font-size:20px;
    font-weight:200;
   
    color:white;
    font-style: italic;
}
.nav-Prime{
    display:flex;
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;


}
.nav-Prime i{
    margin-top: 7px;
}
.cust{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;

}
.new{
    font-size:20px;
    font-weight:200;
   
    color:white;
    font-style: italic;
}
.elect{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;
}
.fashion{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;
}
.home{
    font-size:20px;
    font-weight:200;
  
    color:white;
    font-style: italic;
}
.pay{
    font-size:20px;
    font-weight:200;
    color:#ccc;
    color:white;
    font-style: italic;
}
.comp{
    font-size:20px;
    font-weight:200;
    
    color:white;
    font-style: italic;
}
.border{
    border: 2px solid transparent;
    cursor:pointer;
    
}
.border:hover{
    border:2px solid white;
    cursor:pointer;

}
/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    height: 400px;
    width: 1520px;
    background-size: cover;
    
    
}
.box{
    height:462px;
    
    width: 343.67px;
    background-color: white;
    margin-top: 20px;
    margin-bottom:20px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    background-color: #c1c1c1;
}

.box1-img{
    
    background-image: url("earphone.jpg");
    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    
}
.box3-img{
    background-image: url("gym.jpg");
    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    
    margin-left: 20px;
    margin-right:20px;
    padding: 20px 0px 15px;

}
.box-content h2{
    margin-bottom: 2px;
   font: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-content p{
    padding-top: 25px ;
    color:rgb(45, 17, 109);
    font-size: medium;
}
.box2-img{
    background-image: url("washing.jpg");

    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}
.box5-img{
    background-image: url("crox.jpg");

    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}
.box6-img{
    background-image: url("carpet.jpg");

    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box7-img{
    background-image: url("juicer.jpg");

    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box8-img{
    background-image: url("umbrella.jpg");

    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.box9-img{
    background-image: url("trolley.jpg");

    


    background-size: cover;
    height: 290px;
    width: 306px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}
/*panel*/
.panel{
    height:892.17px;
    width:100%;
    background-color: #232f3e;
}
.panel1{
    background-color: #37475a;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    height: 49px;
    width: 100%;
    display: flex;

}
.panel2{
    color:white;
    
    justify-content: center;
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    font:16px;
    font-family: Arial, Helvetica, sans-serif;
    

    
    
}
.panel2 ul a{
    display:flex;
    flex-direction: column;
    margin-top:12px;
    font:14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#dddddd;
    gap:40px;
    
}
.panel2 ul p{
    font-size:20px;
}
.footer-divider {
    border: none;                     /* default browser style hatao */
    border-top: 1px solid #3a4553;    /* halki si gray line */
    margin-top: 70px;   
    margin-bottom:10px;
    display:flex;
                   /* thoda space upar-neeche */
}
.panel3{
    height:120px;
    
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    

}

.panel3 .language label{
    justify-content: center;
    align-items: center;
   
}
.language select{
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Removes the default arrow */
  border: 1px solid #848688;
  border-radius: 4px;
  padding: 15px 26px 15px 40px; /* Adjust the left padding to make space for the icon */
  background-color: #232f3e;
  color: white;
  cursor: pointer;
    
}
  .panel3  .label1{
    
    display :flex;
    position: relative;
    justify-content: center;
    align-items: center;
    

}
.language .label1::after {
  content: '▼'; /* You can use any character, like a down arrow */
  font-size: 10px;
  color: white;
  position: absolute;
  right: 8px; /* Adjust the position from the right */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Important to make sure clicks go to the select element */
}
.language .label1 .fa-solid {
  position: absolute; /* Positions the icon absolutely within its parent `.label1` */
  left: 10px; /* Adjust the spacing from the left */
  top: 50%; /* Vertically centers the icon */
  transform: translateY(-50%); /* Fine-tunes the vertical centering */
  color: white;
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 1;
}

.language {
    display: flex;
    gap:10px;
    

    
    
}
.panel4 {
    background-color:#131a22;
    color: #dddddd;
    height:200px;
    display :flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}





.panel4 .row1{
    
    background-color:#131a22;
    color: #dddddd;
    
    display :flex;
    justify-content:space-evenly;
    
}
.panel4 .row2{
    background-color:#131a22;
    color: #dddddd;
    
    display :flex;
    justify-content:space-evenly;

}




.panel5{
    background-color: #131a22;
    height:120px;
    color: white;
    justify-content: center;
    gap:7px;
    display :flex;
    flex-direction: column;
}

.line1{
    justify-content: center;

    display: flex;
    gap:22px;
}

.line2{
    justify-content: center;

    display: flex;
    

}

